body{
    background-color: #242220;
    color: white;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    /* justify-content: center;
    align-items: center; */
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 25px; 
    color: gray;
    position: relative;
    right: 300px;
}
.list :last-child{
    border-color: rgb(255, 174, 0);
    color: rgb(255, 187, 0);
    background-color: #242220;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;   
}
nav img{
    height: 6vh;
    position: relative;
    left: 260px;
}
.Top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    font-size: 50px;
    position: relative;
    left: 90px;
}
p{
    text-align: left;
    position: relative;
    right: 155px;
}
.Bottom img{
    position: relative;
    left: 260px;
    top: 3px;
    width: 60vw;
}