* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(235, 231, 225);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
.nav-bar{
    padding: 20px 10%;
    height: 10vh;
    display: flex;
}
.list :first-child{
    height: 4vh;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:55px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.left-section{
    width: 40%;
    position: relative;
    top: 35px;
}

.left-section h1{
    font-size: 40px;
}
.left-section p{
    margin: 5% 0;
    font-size: 14px;
}
.left-section button{
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #3b855b;
    border-radius: 7px;
    font-weight:bold ;
}
.Rigth-section{
    width: 60%;
}
.images{
    position: relative;
    top: 25px;
    left: 125px;
}
.img3{
   height: 35vh;
   width: 32vw;
   margin-top: 15px;
}
.img2{
    height: 40vh ;
    width: 15vw;
    margin-left:15px ;
}
.img1{
    height:35vh;
    width: 15vw;
}