body{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 0%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 75px;
    width: 100%;
    position: relative;
    bottom: 8px;
    
}
.logo{
    height: 30px;
    position: absolute;
    left: 50px;
    top: 25px;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    position: absolute;
    left: 200px;
    top: 15px;
    color: white;
    font-family: Franklin Gothic Medium;    

}
.button-small{
    position: absolute;
    top: 30px;
    right: 100px;
    border: 0px;
    font-family: Franklin Gothic Medium;    
    border-radius: 5px;
    padding: 6px 25px;
    background-color: #FF00FF;
    color: white;
}
.button-large{
    background-color: #FF00FF;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 6px 25px;
    font-size: larger;
    width: fit-content;
    height: 50px;
    font-family: Franklin Gothic Medium;
    position: relative;
    bottom: 50px;
    left: 200px;
}
.hero{
    position: absolute;
    top: 15vh;
    left: 30vw;
}
.h1{
    color: white;
    font-weight: 100;
    font-family: Franklin Gothic Medium;
    font-size: 80px;
}
.p1{
    color: white;
    font-weight: 100;
    font-family: normal;
    font-size: 25px;
    position: relative;
    bottom: 60px;
    left: 75px;
}